* {
    box-sizing: border-box;
    font-family: Undertale;
}

body {
    background-image: url('./images/undertale.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

html {
    font-size: 62.5%;
}

#main {
    display: flex;
    flex-direction: column;
    
}

#main_flex {
    aspect-ratio: 8;
    display: flex;
    flex-direction: row;
}

#sans_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

#sans2 {
    display: none;
    transform: scaleX(-1);
    width: 50rem;
}

#papyrus {
    display: none;
    width: 35rem;
}


#sec_flex2 {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10rem;
}

#sec_flex1 {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10rem;
}

.btn {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 1rem;
    justify-content: center;
}

#but3, #but4 {
    background-color: green;
    color: rgb(230, 224, 224);
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0 1rem 1rem 0;
}

#but3:hover, #but4:hover {
    border: 1px solid black;
}

#sec_flex2 > p {
    font-size: large;
    color: blue;
    letter-spacing: 0.3em;
}

#sec_flex1 > p {
    color: red;
    font-size: large;
    letter-spacing: 0.3rem;
}

input[type='text'] {
    border-radius: 1rem 0 0 1rem;
    background-color: #444;
    border: 1px solid black;
    padding: 0.5rem;
    color: white;
}

input[type='text']::placeholder {
    color: #999;
    letter-spacing: 0.3em;
}

input[type='text']:focus {
    outline: 1px solid black;
}
 
@keyframes ch_c {
    0% {

        transform: rotate(360deg);
    }
}

@font-face {
    font-family: Undertale;
    src: url("./font/undertale.ttf");
}

@media screen and (max-width: 1000px) {
    #main_flex {
        display: flex;
        flex-direction: column;
    }

    #sans {
        width: 30rem;
    }

    #papyrus {
        width: 25rem;
    }

    #sans2 {
        width: 40rem;
    }
}

@media screen and (max-width: 600px) {
    #sans {
        width: 20rem;
    }

    #papyrus {
        width: 15rem;
    }

    #sans2 {
        width: 23rem;
    }
}